<div class="markdown-editor">
    <ul class="markdown-editor__actions">
        <li
            ng-click="markdownEditorCtrl.action('bold')"
            class="markdown-editor__actions__bold"
            >
            Bold
        </li>
        <li
            ng-click="markdownEditorCtrl.action('italic')"
            class="markdown-editor__actions__italic"
            >
            Italic
        </li>
        <li
            ng-click="markdownEditorCtrl.action('bullets')"
            class="markdown-editor__actions__bullets"
            >
            Bullets
        </li>
        <li
            ng-click="markdownEditorCtrl.action('heading')"
            class="markdown-editor__actions__heading"
            >
            Heading
        </li>
        <li
            ng-click="markdownEditorCtrl.preview = !markdownEditorCtrl.preview"
            >
            Preview
        </li>
    </ul>
    <div class="markdown-editor__editorarea">
        <div ng-class="{nopreview: !markdownEditorCtrl.preview}">
            <textarea ng-model="markdownEditorCtrl.ngModel"></textarea>
        </div>
        <div
            ng-show="markdownEditorCtrl.preview"
            ng-bind-html="markdownEditorCtrl.getHTML()">
        </div>
    </div>
</div>
